
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500&family=Roboto&display=swap');
/* global css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
p{
    margin: 0px;
}
body{
    font-family: 'Roboto', sans-serif !important;  
}
.button{
    outline: none;
    border: 1px solid black;
    transition: 0.5s;
    display: inline-block;
    z-index: 0;
    background: black;
    color: white;
    padding: 8px 25px;
    position: relative;
    overflow: hidden;
}
.button::before{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: white;
    color: black;
    right: 0;
    transition: 0.3s linear;
    z-index: -1;
}
.button:hover::before{
    width: 100%;
    left: 0;
    color: black;
}
.button:hover{
    color: black;
}
.d-flex-full{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-btn{
    background: white;
    border: none;
    outline: none;
    font-family: 'Roboto',sans-serif;
    margin-left: 35px;
}


/* scroll trigger  */
.main{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}











/* header section css start  */
.navbar{
    padding: 10px 0px !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.navbar ul li a{
    font-family: 'Roboto', sans-serif;  
    color: black;
    transition: 0.4s;
}
.navbar ul li{
    margin-right: 15px;
}
.navbar ul li a.active{
    color: #ea5173 !important;
    position: relative;
}
.navbar ul li a:hover{
    color: #f65074;
}
.navbar ul li a.active:after{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    right: -5px;
    background-color: #fda7c5;
}
.navbar .navbar-brand .logo{
    width: 45px;
}
/* header section css end */




/* hero section css starts  */
.hero-section{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}
.hero-section .right-section{
    position: relative;
}
.hero-section .right-section span{
    color: #ea5173;
}
.hero-section .right-section .span{
    font-family: 'Roboto', sans-serif;  
    font-size: 18px;
}
.hero-section .right-section h1{
    color: black;
    font-size: 75px;
    width: 80%;
    font-family: 'Eczar', serif;
    margin-top: 25px;
}
.hero-section .right-section .description{
    font-family: 'Roboto',sans-serif;
    font-size: 17px;
    margin-bottom: 45px;
    width: 60%;
    margin-top: 25px;
}
.hero-section .right-section .play-btn{
    padding: 8px 20px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 20px;
    border-radius: 8px;
    color: #ea5173;
    box-shadow: 0px 1px 6px rgba(222, 110, 110, 0.474);
}
.hero-section .right-section .play-btn-txt{
    color: black;
    font-size: 16px;
    font-family: 'Roboto';
}
.hero-section .right-section .curved-arrow-hero{
    position: absolute;
    right: 0px;
    bottom: 25px;
}
.hero-section .left-section{
    position: relative;
}
.hero-section .left-section .hero-img{
    border-radius: 45px;
}
.hero-section .left-section .circle{
    position: absolute;
    background: white;
    box-shadow: 0px 1px 3px #e26d8ae7;
    width: 140px;
    left: -60px;
    height: 140px;
    font-family: 'Roboto';
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
}

/* hero section css end */





/* why us section css start  */
.why-us{
    margin-top: 120px;
    margin-bottom: 100px;
}
.why-us h2{
    font-size: 40px;
    font-family: 'Eczar',sans-serif;
    margin-bottom: 80px;
}
.why-us h2 span{
    color: #ea5173;
}
.why-us .box h4{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}
.why-us .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.why-us .box img{
    transform: scale(0.8);
    margin-bottom: 25px;
}








/* recently added property section  */
.recent-property{
    margin-bottom: 80px;
}
.recent-property h2{
    font-size: 40px;
    font-family: 'Eczar',sans-serif;
    margin-bottom: 80px;
}
.recent-property h2 span{
    color: #ea5173;
}
.recent-property button{
    outline: none;
    border: 1px solid #ea5173;
    transition: 0.5s;
    display: inline-block;
    z-index: 0;
    background: white;
    color: black;
    padding: 8px 15px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
}
.recent-property button.active{
    color: white;
    background: #ea5173;
}
.recent-property .fav{
    font-size: 24px;
    top: 10px;
    color: #ea5173;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.recent-property h3{
    font-family: 'Eczar',sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
}
.recent-property .box span{
    color: #ea5173;
    font-size: 14px;
}
.recent-property .box p{
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
}
.recent-property .box{
    box-shadow: 0px 1px 2px rgba(234, 124, 131, 0.388);
    border-radius: 4px;
}